@import "tailwindcss";

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-styling {
  font-feature-settings:"ss04"
}

.font-gradient {
  background:linear-gradient(to right bottom,#fff 30%,hsla(0,0%,100%,.5));
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
  background-clip:text;
  color:unset
}

.font-effect-hero {
  -webkit-text-stroke:.4px #ffffff80;
  -webkit-text-fill-color:transparent;
  text-shadow:-1px -1px 0 hsla(0,0%,100%,.2),1px 1px 0 rgba(0,0,0,.1)
}